@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-spin-slow: spin 8s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "DM Sans", sans-serif !important;
  /* Removal of fixed dark background to allow page-specific backgrounds */
}

* {
  font-family: "DM Sans", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
